@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Sans+JP:wght@100..900&family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
font-family:'inter',sans-serif;
padding: 20px;
background-color: rgb(52, 52, 53);
color: rgb(240, 200, 22);
color: linear-gradient(90deg, #000000 0%, #fdbb2b 100%);
color: #def50c;
background: linear-gradient(90deg, #000000 0%, #5a0d0d 100%);
color: #def50c;
}

.container {
    max-width: 1200px;
    margin: 40px auto;
    background-color: rgb(45, 46, 46);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(238, 223, 223, 0.719);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg, #000000 0%, #5a0d0d 100%);
color: #def50c;
}

h1{
    font-size: 3em;
}

form{
margin-bottom: 20px;
}

input{
margin-right: 10px;
padding: 5px;
}

#task-form input{
box-sizing: border-box;
padding: 12px 14px;
font-size: 16px;
line-height: 1,3;
margin-bottom: 12px;
border: 2px solid #fcff65;
border-radius: 8px;
background-color: #dbd9d9;
color: black;
transition: border-color 0.12 ease box-shadow 0.12s ease;

}

#task-form input:focus {
outline: none;
border-color: #def50c;
box-shadow: 0 6px 18px rgba(99,192, 122 0,12);
}

#task-form button{
display: inline-block;
padding: 8px 10px;
font-size: 14px;
font-weight: 580;
background-color: black;
background: linear-gradient(90deg, #000000 0%, #5a0d0d 100%);
color: #def50c;
border: none;
border-radius: 10px;
cursor: pointer;
box-shadow: 0 8px 20px rgba(47,143, 91, 0.12);
transition: border-color 0.12s ease, box-shadow 0.12s,opacity 0.12s
}





ul{
width: 530px;
list-style-type: none;
padding: 0;

}

li{
background-color: white;
margin:5px 0 12px 0;
padding: 12px 14px;
font-size: 2rem;
border-left: 5px solid #4CAF50;
display:flex;
justify-content: space-between;
align-items: center;
}

.completed{
    text-decoration: line-through;
    opacity: 0,6;
}