@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Sans+JP:wght@100..900&family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
font-family: 'inter',sans-serif;
padding: 20px;
background-color: rgb(52, 52, 53);
color: rgb(240, 200, 22);
}

form{
margin-bottom: 20px;
}

input{
margin-right: 10px;
padding: 5px;
}

ul{
list-style-type: none;
padding: 0;

}

li{
background-color: white;
margin:5px 0;
padding: 10px;
border-left: 5px solid #4CAF50;
display:flex;
justify-content: space-between;
align-items: center;
}

.completed{
    text-decoration: line-through;
    opacity: 0,6;
}